.songContainer {
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.songContainer img {
    width: 100px;
    height: 100px;
    margin-right: 25px;
}

h4 {
    color: #FFFF;
}

.songContainer:hover {
    background: #282828;
    transition: 0.3s ease-out;
}

.songContainerV2 {
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    width: 220px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
}

.songContainerV2 img {
    width: 220px;
    height: 200px;
}

.songContainerV2 p {
    color: #FFFF;
    word-wrap: normal;
    margin: 0;
}

.songContainerV2:hover {
    background-color: #282828;
    transition: 0.3s ease-out;
}

.playHover {
    position: absolute;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    transition: 0.3s ease-out;
    align-items: center;
}

.playHover span {
    background-color: #1ed760;
    transition: 0.3s ease-out;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.playHover span:hover {
    transform: scale(1.1);
    filter: brightness(125%);
}

.playHover span svg {
    margin-left: 3px;
}

h4:hover, p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.playHoverV2 {
    position: absolute;
    box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
    width: 220px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.playHoverV2 span {
    background-color: #1ed760;
    transition: 0.3s;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 20px;
}

.playHoverV2 span:hover {
    transform: scale(1.1);
    filter: brightness(125%);
}

.playHoverV2 span svg {
    margin-left: 3px;
}