.songContainer {
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.songContainer img {
    width: 100px;
    height: 100px;
    margin-right: 25px;
}

h4 {
    color: #FFFF;
}

.songContainerV2 {
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    width: 220px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
}

.songContainerV2 img {
    width: 220px;
    height: 200px;
}

.songContainerV2 p {
    color: #FFFF;
    word-wrap: normal;
    margin: 0;
}